body {
    background-image: url("map.bmp");
}
.resources {
    background-color: rgba(0,0,0,0.7);
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    color:white;
    width:45%;
}
button.mining {
    border: none;
    color:white;
    background-color:darkslategrey;
    width: 120px;
    height: 40px;
    font-size:23px;
    font-family: 'Sansita', sans-serif;
    text-align: center;
    display: inline-block;
}
.upgrades {
    background-color: rgba(0,0,0,0.8);
    color: darkgoldenrod;
    font-family: monospace;
    font-weight: bold;
    position: absolute;
    right:0;
    top:0;
    width:54%;
    height: 400px;
    overflow-y: scroll;
}

.buildings {
    background-color: rgba(0,0,0,0.8);
    color:lightcyan;
    overflow-y:scroll;
    font-family: monospace;
    height: 500px;
    width: 45%;
}

button.build {
    border: none;
    color:white;
    background-color:darkslategrey;
    width: 100px;
    height:35px;
    font-size: 14px;
    font-family: 'Sansita',sans-serif;
    text-align: center;
    display: inline-block;
}

.chatbox {
    position:absolute;
    bottom:0;
    right:0;
    width:54%;
    height:260px;
}
h1 {
    font-family:monospace;
}

h2 {
    font-family:monospace;
}

