.resources {
    background-color: aquamarine;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    width:45%;
}
button.mining {
    border: none;
    background-color:aqua;
    width: 120px;
    height: 40px;
    font-size:23px;
    font-family: 'Sansita', sans-serif;
    text-align: center;
    display: inline-block;
}
.upgrades {
    background-color: darkgray;
    position: absolute;
    right:0;
    top:0;
    width:54%;
    height: 400px;
    overflow-y: scroll;
}

.buildings {
    background-color: antiquewhite;
    overflow-y:scroll;
    font-family: 'Open Sans', sans-serif;
    height: 500px;
    width: 45%;
}

button.build {
    background-color: cornflowerblue;
    border:none;
    size:20px;
    font-family: cursive;
    text-align: center;
    display: inline-block;
}


h1 {
    font-family:'Open Sans', sans-serif;
}

h2 {
    font-family:'Open Sans', sans-serif;
}

